body.thim-demo-university-4{
	.profile-container .user-tab .author-name,
	.profile-container .box-title,
	.profile-container .profile-tabs .nav-tabs li a,
	th,
	.entry-navigation-post .prev-post .title,
	.entry-navigation-post .next-post .title,
	.share-post .single-title,
	.related-archive .single-title,
	article .entry-header .date-meta i,
	article .entry-header .entry-meta li span,
	.thim-widget-gallery-posts .wrapper-filter-controls a,
	.widget-area .thim-course-list-sidebar .thim-course-content .course-title,
	.top_site_main .page-title-wrapper h1,
	.top_site_main .page-title-wrapper h2,
	#tab-course-description .thim-course-info ul li .value,
	.thim-course-menu-landing .thim-course-landing-tab li,
	.thim-course-menu-landing .thim-course-landing-button .course-price,
	.thim-course-grid .course-item .thim-course-content .course-title,
	.thim-ralated-course .related-title,
	.thim-about-author .author-bio .name,
	.learn-press .course-tabs .nav-tabs li a,
	.learn-press .entry-title,
	.learn-press .course-meta .value,
	.learn-press .course-payment .course-price,
	.widget-area .thim-course-list-sidebar .course-price,
	.widget-area .thim-course-list-sidebar .thim-course-content .course-title,
	.thim-course-list .course-item .thim-course-content .course-price,
	.thim-course-list .course-item .thim-course-content .course-meta .value,
	.thim-course-list .course-item .thim-course-content .course-title,
	.product-grid .product__title a.title,
	.product-grid .product__title .price,
	.sc_heading .title,
	.thim-widget-icon-box .wrapper-box-icon.contact_info .heading__primary,
	.widget-area aside .widget-title,
	.widget-area aside.widget ul li a,
	article .entry-header .entry-title,
	#respond.comment-respond .comment-reply-title,
	.tp_single_event .entry-title h1,
	.thim-list-event .item-event .event-wrapper .title,
	.thim-list-event .item-event .event-wrapper .meta,
	.list-tab-event .nav-tabs li a,
	.tp-event-info .tp-info-box .heading,
	.thim-widget-portfolio .wapper_portfolio .filters .portfolio-tabs li a.filter,
	.portfolio_container .wapper_portfolio .filters .portfolio-tabs li a.filter,
	.thim-widget-accordion .widget-title,
	.thim-widget-accordion .panel-title a,
	.thim-contact-faqs h4,
	.widget-area.sidebar-events .book-title,
	.widget-area.sidebar-events .widget_book-event ul li .value,
	.site-main .widget_text .widget-title,
	.wrapper-lists-our-team .our-team-item .title,
	.wrapper-lists-our-team .our-team-item .regency,
	.counter-box.about-us .display-percentage,
	.home-content .widget-title,
	.site-main .widget-title,
	.become-teacher-form .teacher-title,
	.thim-widget-tab .nav-tabs li a,
	.widget-area .thim-list-posts.sidebar .article-title-wrapper h5,
	.tp-event-organizers .thim-carousel-wrapper .item .regency,
	.tp-event-organizers .title,
	article .entry-header .entry-meta li span.value,
	article .entry-header .entry-meta li a,
	.widget-area .thim-list-posts.sidebar .article-date,
	.thim-widget-portfolio .wapper_portfolio .portfolio_column .portfolio-hover .mask-content h3,
	.portfolio_container .wapper_portfolio .portfolio_column .portfolio-hover .mask-content h3,
	.quickview .product-info .right .product_title,
	.quickview .quick-view-detail,
	.loop-pagination li .page-numbers,
	.pagination li .page-numbers,
	.thim-list-event .item-event .time-from .date,
	#tab-course-review .course-review .content-review>ul .review-text .review-title,
	#tab-course-review .course-review .content-review>ul .review-text .author-name,
	#tab-course-review .course-rating .average-rating .rating-box .average-value,
	#tab-course-review .course-rating>h3,
	#tab-reviews .course-review .content-review>ul .review-text .review-title,
	#tab-reviews .course-review .content-review>ul .review-text .author-name,
	#tab-reviews .course-rating .average-rating .rating-box .average-value,
	#tab-reviews .course-rating>h3,
	#learn-press-course-curriculum ul.curriculum-sections .section-header,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-lesson .quiz-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-assignment .quiz-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-quiz .quiz-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-lesson .lesson-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-assignment .lesson-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-quiz .lesson-title,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-lesson .lesson-preview,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-assignment .lesson-preview,
	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-quiz .lesson-preview,
	h1,h2,h3,h4,h5,h6,b,strong,
	body #popup-footer .course-content-lesson-nav a,
	.course-item-nav .course-content-lesson-nav a,
	body #popup-footer .course-content-lesson-nav span,
	.course-item-nav .course-content-lesson-nav span{
		font-weight: 600;
	}
	.product-grid .product__title a.button.add_to_cart_button,
	.quickview .product-info .right .cart button.button,
	article .readmore a,
	.become-teacher-form button[type=submit],
	input[type=submit], button,
	#respond.comment-respond .comment-form .form-submit input#submit,
	.thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value,
	.learn-press .thim-enroll-course-button,
	.thim-course-grid .course-item .course-thumbnail > a.course-readmore,
	.thim-course-list .course-item .thim-course-content .course-readmore,
	.product-grid .product__title a.button.add_to_cart_button,
	.mc4wp-form .mc4wp-form-fields button[type="submit"],
	.mc4wp-form .mc4wp-form-fields input[type="submit"],
	.wpcf7-form .wpcf7-submit,
	article .readmore,
	article .entry-header .entry-meta li span.value,
	article .entry-header .entry-meta li a,
	.wrapper-lists-our-team a.join-our-team,
	a.widget-button.very-rounded{
		border-radius: 30px;
		font-weight: 500;
	}
	.site-header{
		.navbar-nav{
			text-align: left;
			.menu-right{
				float: right;
			}
		}
		.width-navigation{
			display: inline-block;
			float: right;
		}
		.width-logo{
			overflow: hidden;
			position: absolute;
			top: -45px;
			left: 0;
		}
	}
	.toolbar-container{
		overflow: hidden;
		display: block;
		float: right;
	}
	.thim-video-popup{
		.button-popup{
			width: 62px;
			height: 62px;
			line-height: 58px;
			border-width: 2px;
			.fa{
				line-height: 58px;
			}
		}
		.video-title{
			font-size: 24px;
		}
		.video-description {
			line-height: 1.75;
		}
		.video-info{
			padding-top: 153px;
			min-height: 400px;
		}
	}
	.thim-sidebar-content{
		position: relative;
		.twitter-inner{
			min-height: 0;
			padding-bottom: 37px;
			.date{
				display: none;
			}
			.link-follow {
				bottom: 15px;
				line-height: 1em;
			}
		}
	}
	#sb_instagram #sbi_load{
		padding-top: 0 !important;
	}

	.sc_heading .title{
		font-weight: 600;
	}
	.thim-icon-our-programs{
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 61px;
		.sc_heading{
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 11px;
			margin-bottom: 9px;
			.title{
				font-size: 24px;
				font-weight: 500;
				line-height: 1.5;
			}
		}
		.thim-widget-icon-box{
			.heading__primary{
				font-weight: 500;
				margin-bottom: 6px;
				font-size: 17px;
				line-height: 25px;
				min-height: 25px;
			}
			.wrapper-box-icon.has_custom_image{
				.desc-icon-box{
					margin-top: 0;
					padding-bottom: 5px;
					padding-right: 25px;
					min-height: 68px;
				}
			}
			.desc-icon-box{
				font-size: 14px;
				line-height: 1.5;
			}
		}
		.iconbox-left .content-inner{
			padding-left: 25px;
		}
	}
	.site-header .navbar-nav>li{
		&:after{
			content: '';
			position: absolute;
			right: -1px;
			top: 8px;
			height: 25px;
			width: 1px;
			background: #efefef;
		}
		&.last-menu-item,
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	.list-event-slider .view-all,
	.thim-list-post-inner .link_read_more a{
		font-size: 14px;
	}
	footer#colophon .copyright-area .copyright-content{
		font-size: 12px;
	}
	.thim-grid-posts .article-wrapper{
		background: #f5f5f5;
	}
	.thim-grid-posts .article-wrapper:before{
		border-right-color: #f5f5f5;
	}
	.grid-vertical .item-post .article-wrapper:before{
		border-bottom-color: #f5f5f5;
		border-right-color: transparent;
	}
	.thim-grid-posts.has-horizontal.has-vertical .grid-vertical .article-image{
		background: #f5f5f5;
	}
	#tab-course-review .course-rating .detailed-rating .stars>div.key,
	#tab-reviews .course-rating .detailed-rating .stars>div.key {
		min-width: 53px;
	}
	.counter-group .counter-block .counter{
		font-size: 48px;
	}
}

.thim-desc-eduma-campus{
	color: #fff;
	padding-bottom: 59px;
	.widget-title{
		color: #fff;
	}
	.desc{
		font-size: 14px;
		line-height: 1.7em;
		margin-bottom: 30px;
		padding: 0 10px;
	}
	.explore{
		text-transform: uppercase;
		color: #fff;
		line-height: 26px;
		padding: 5px 20px;
		border-radius: 30px;
		border: 2px solid #fff;
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		&:hover{
			color: rgba(255,255,255,0.6);
			border-color: rgba(255,255,255,0.6);
		}
		.fa{
			margin-left: 7px;
			font-size: 11px;
			line-height: 26px;
		}
	}
}

.thim-title-4 .widget-title {
	font-size: 28px;
	font-weight: 600;
	line-height: 1.3;
	color: #444;
	margin-top: 44px;
	margin-bottom: 20px;
}

//New element use on demo-university 4
.thim-about-eduma{
	padding-top: 73px;
	padding-bottom: 60px;
	.heading{
		text-transform: uppercase;
		font-size: 50px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		margin-top: 0;
		margin-bottom: 23px;
		span{
			font-size: 28px;
			font-weight: 300;
			text-indent: 140px;
			display: block;
			line-height: 1.4em;
		}
	}
	.desc{
		color: #d4e9d5;
		font-size: 16px;
		line-height: 1.56;
		margin-left: 110px;
		margin-bottom: 30px;
		padding-right: 20px;
	}
	.read-more{
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		color: #fff;
		display: block;
		margin: 0;
		text-align: left;
		margin-left: 110px;
		&:hover{
			color: rgba(255,255,255,0.6);
		}
	}
}

.thim-right-bg-secondary-color{
	overflow: hidden;
	position: relative;
	.thim-list-post-inner .link_read_more a{
		color: #fff;
	}
	&.thim-row-latest-new{
		padding-bottom: 105px;
	}
	>div{
		position: relative;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: calc(50% - 210px);
		width: -webkit-calc(50% - 210px);
		width: -moz-calc(50% - 210px);
	}
}
.thim-overflow-hidden{
	overflow: hidden;
	.gallery-img{
		padding-top: 56px;
		padding-bottom: 56px;
		background: #f5f5f5;
	}
}
.thim-left-full-bg-secondary-color{
	overflow: hidden;
	position: relative;
	>div{
		position: relative;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: calc(50% + 584px);
		width: -webkit-calc(50% + 584px);
		width: -moz-calc(50% + 584px);
	}
}

.list-event-slider{
	position: relative;
	.thim-title-4 &{
		margin-top: -56px;
	}
	h3.widget-title{
		margin-top: 0;
	}
	.view-all{
		position: absolute;
		right: 0;
		top: 10px;
		text-transform: uppercase;
		color: #fff;
	}
	.item-event{
		position: relative;
		overflow: hidden;
		padding-right: 32%;
		max-width: 100%;
		.image{
			img{
				width: 100%;
			}
		}
		.event-wrapper{
			background: #f5f5f5;
			padding: 60px 40px;
			position: absolute;
			width: 32%;
			top: 0;
			bottom: 0;
			right: 0;
			height: 100%;
			.box-time{
				position: relative;
				z-index: 99;
				min-height: 100px;
				&:before{
					width: 100px;
					height: 100px;
					border: 2px solid #eee;
					content: '';
					position: absolute;
					top: 0;
					left: -65px;
				}
				&:after{
					content: '';
					position: absolute;
					width: 100px;
					height: 2px;
					top: 60px;
					left: 0;
				}
				.time-from{
					position: absolute;
					top: 0;
					text-align: right;
					left: -215px;
				}
				.date{
					font-size: 50px;
					font-weight: 700;
					color: #fff;
					line-height: 1em;
					margin-top: 7px;
					margin-bottom: 10px;
				}
				.month{
					font-weight: 300;
					text-transform: uppercase;
					color: #fff;
					font-size: 28px;
					line-height: 1em;
				}
			}
			.title{
				font-size: 17px;
				line-height: 1.5em;
				font-weight: 500;
				margin-top: 34px;
				margin-bottom: 15px;
			}
			.desc{
				font-size: 14px;
				font-weight: 400;
				line-height: 1.6em;
				margin-bottom: 17px;
			}
			.read-more{
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 400;
				.fa{
					margin-left: 7px;
				}
			}
		}
	}
}


//Footer
.thim-footer-university-4{
	&#colophon{
		&:after{
			content: '';
			position: absolute;
			width: 99px;
			height: 213px;
			bottom: 0;
			right: calc(50% - 585px);
			right: -webkit-calc(50% - 585px);
			right: -moz-calc(50% - 585px);
			background: url(images/newletter-bg.png) no-repeat bottom right;
		}
		.copyright-area{
			position: static;
			.copyright-content{
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 210px;
			}
		}
		.thim-newsletter{
			padding-left: 40px;
			padding-right: 40px;
			color: rgba(255, 255, 255, 0.5);
			line-height: 1.7;
		}
		.mc4wp-form{
			max-width: 240px;
			margin: auto;
			padding-right: 23px;
			input[type="email"]{
				border: 2px solid rgba(255, 255, 255, 0.8);
				border-radius: 30px;
				background: transparent;
				color: rgba(255, 255, 255, 0.5);
				height: 46px;
				line-height: 42px;
				padding: 0 15px;
				&::-webkit-input-placeholder {
					color: rgba(255, 255, 255, 0.5);
				}
				&::-moz-placeholder {
					color: rgba(255, 255, 255, 0.5);
				}
				&:-ms-input-placeholder {
					color: rgba(255, 255, 255, 0.5);
				}
				&:-moz-placeholder {
					color: rgba(255, 255, 255, 0.5);
				}
			}
			input[type=submit]{
				position: absolute;
				padding: 0;
				right: 0;
				top: 0;
				height: 46px;
				width: 46px;
				line-height: 46px;
				background: transparent;
				z-index: 3;
				border-radius: 50%;
				display: inline-block;
				color: transparent;
			}
			&:after{
				right: 0;
				top: 0;
				height: 46px;
				width: 46px;
				line-height: 46px;
				background: #fff;
				z-index: 2;
				border-radius: 50%;
				text-align: center;
			}
		}

		.footer{
			padding-top: 0;
			.widget-title{
				margin-top: 6px;
				margin-bottom: 4px;
				font-weight: 500;
				font-size: 16px;
			}
		}
		.widget_siteorigin-panels-builder{
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}

.thim-footer-info-4{
	overflow: hidden;
	.footer-logo{
		float: left;
		width: 180px;
		margin-right: 30px;
	}
	.info{
		float: left;
		width: calc(100% - 210px);
		width: -webkit-calc(100% - 210px);
		width: -moz-calc(100% - 210px);
		.heading{
			text-transform: uppercase;
			font-size: 50px;
			line-height: 1;
			margin-bottom: 17px;
			span{
				font-size: 28px;
				display: block;
				text-indent: 100px;
				color: #fff;
				line-height: 1.3;
				font-weight: 300;
			}
		}
		.content{
			padding-left: 100px;
			line-height: 1.7;
			.desc{
				margin-bottom: 11px;
			}
		}
		.contact-list{
			li{
				footer#colophon .footer &{
					line-height: 1.7;
					margin-bottom: 0;
				}
				.fa{
					margin-right: 7px;
					font-size: 13px;
					line-height: 1.7;
				}
			}
		}
	}
}


//Simple slider
.thim-event-simple-slider{
	position: relative;
}
.list-event-slider .item-event{
	width: 100%;
}
.thim-simple-wrapper{
	position: relative;
	.wrapper{
		right: 0;
		max-height: 100%;
	}
	.simple-item{
		display: inline-block;
		max-height: 100%;
		overflow: hidden;
		&:not(.active-item){
			position: absolute;
			top: 0;
			bottom: 0;
			@include opacity(0.5);
			.item-event{
				padding-right: 0;
				position: static;
				.event-wrapper{
					visibility: hidden;
					@include opacity(0);
					@include transition(all 0.5s ease-in-out);
				}
			}
		}
		&.active-item{
			position: relative;
			&:before{
				visibility: hidden;
				@include opacity(0);
			}
			.item-event{
				.image{
					position: relative;
					&:before{
						content: '';
						position: absolute;
						z-index: 2;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						background: #000;
						@include opacity(0.55);
					}
				}
				.event-wrapper{
					z-index: 3;
					@include opacity(1);
					@include translate(0, 0);
					@include transition(all 0.5s ease-in-out);
				}
			}
		}
	}


	.navigation{
		position: static;
		div{
			display: inline-block;
			color: #fff;
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin: 0;
			z-index: 99;
			margin-top: -20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			@include opacity(0);
			visibility: hidden;
			@include transition(all 0.3s ease-in-out);
			background: rgba(255, 255,255, 0.15);
			.fa{
				line-height: 40px;
			}
			&.prev{
				right: auto;
				left: 15px;
			}
			&.next{
				left: auto;
				right: calc(33% + 15px);
				right: -webkit-calc(33% + 15px);
				right: -moz-calc(33% + 15px);
			}
		}
	}

	&:hover{
		.navigation div{
			@include opacity(1);
			visibility: visible;
		}
	}

	.pagination{
		margin: 0;
		position: absolute;
		z-index: 10;
		bottom: 25px;
		left: 0;
		right: 32%;
		text-align: center;
		display: inline-block;
		width: auto;
		.item{
			display: inline-block;
			margin: 0 5px;
			padding: 0;
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			width: 14px;
			height: 14px;
			&:before{
				content: '';
				background: #fff;
				border-radius: 50%;
				display: inline-block;
				width: 10px;
				height: 10px;
				top: 2px;
				left: 2px;
				position: absolute;
			}
			&.active{
				border: 2px solid #eee;
				&:before{
					background: transparent;
				}
			}
		}
	}
}

@media( max-width: 1200px ) {
	.thim-event-simple-slider{
		overflow: hidden;
		.simple-item{
			max-width: 100%;
		}
		.item-event{
			padding-right: 0;
			max-width: 100%;
		}
	}
	body.thim-demo-university-4{
		.navigation .navbar-nav>li{
			>a, >span{
				padding-left: 16px;
				padding-right: 16px;
			}
		}
		.thim-right-bg-secondary-color{
			&:before{
				width: calc(32vw + 5px);
				width: -webkit-calc(32vw + 5px);
				width: -moz-calc(32vw + 5px);
			}
		}
		.thim-about-eduma{
			padding-right: 20px;
		}
	}
}
@media (max-width: 1024px) {
	body.thim-demo-university-4 {
		.menu-mobile-effect.navbar-toggle {
			position: relative;
			top: inherit;
			margin: 0;
			margin-top: 5px;
		}
		#masthead {
			.navigation {
				padding-top: 15px;
			}
		}
		.site-header {
			.width-navigation {
				width: auto;
			}
			.navbar-nav {
				padding-right: 15px;
			}
		}
	}
}
@media( max-width: 768px ) {
	body.thim-demo-university-4 .site-header .width-navigation{
		display: none;
	}
	body.thim-demo-university-4 {
		#masthead .navigation{
			padding-top: 0;
			padding-bottom: 0;
			min-height: 50px;
			position: inherit;
		}
		.site-header .width-logo {
			top: 0;
		}
		#toolbar {
			.menu{
				//display: none;
				li {
					padding-top: 0;
					padding-bottom: 0;
					padding-right: 10px;
					line-height: 45px;
				}
			}
			.widget_nav_menu {
				width: calc(100% - 145px);
				//clear: both;
				text-align: right;
			}
			.toolbar-container {

			}
		}
		.thim-right-bg-secondary-color:before{
			display: none;
		}
		.thim-sidebar-content{
			display: block;
		}
		#masthead .width-logo>a {
			max-width: 130px;
		}
		.list-event-slider .item-event .event-wrapper{
			padding: 20px;
		}
		.thim-footer-university-4{
			.info{
				text-align: left;
				margin: auto;
				float: none;
				margin-top: 35px;
				max-width: 350px;
				width: auto;
			}
			.footer-logo{
				margin: auto;
				float: none;
			}
			&#colophon {
				.footer {
					text-align: center;
				}
				.copyright-area .copyright-content{
					padding-left: 15px;
					padding-right: 15px;
					text-align: center;
				}
			}
			.thim-social.style-3 li a {
				max-width: 115px;
				margin: auto;
			}
		}
		.has-feature .thim-grid-posts{
			width: 100%;
		}
		.thim-list-post-inner .feature-item{
			display: none;
		}
		.toolbar-container{
			width: 100% !important;
		}
		.menu-mobile-effect.navbar-toggle {
			margin-top: 15px;
		}
		.thim-video-popup .video-info {
			margin-bottom: 15px;
		}
	}
}

@media( max-width: 767px ) {
	.list-event-slider .item-event .event-wrapper{
		width: 50%;
	}
	.list-event-slider .view-all{
		display: block;
	}
	body.thim-demo-university-4 {
		#masthead .navigation {
			padding-top: 0;
			padding-bottom: 0;
			min-height: 50px;
			position: inherit;
		}
		.site-header .width-logo {
			top: 0;
		}
		#toolbar {
			.widget_nav_menu {
				display: none;
			}
		}
	}
}

@media( max-width: 767px ) and (min-width: 481px ) {
	.thim-simple-wrapper{
		.navigation{
			display: none;
		}
		.pagination{
			left: 15px;
			right: auto;
			top: 50%;
			@include translate(0 , -50%);
			.item{
				display: block;
				margin: 10px 0;
				padding: 0;
			}
		}
	}
}

@media( max-width: 480px ) {
	.list-event-slider .item-event .event-wrapper{
		position: relative;
		width: 100%;
		clear: both;
		.box-time {
			min-height: 60px;
			margin-top: -100px;
			&:before,&:after{
				display: none;
			}
			.time-from {
				left: 0;

				.date {
					font-size: 40px;
					margin-bottom: 5px;
				}
				.month{
					font-size: 18px;
				}
			}
		}
	}
	.thim-simple-wrapper{
		.pagination{
			left: 0;
			right: 0;
			top: 20px;
		  bottom: auto;
		}
	}
	body.thim-demo-university-4 .thim-icon-our-programs{
		padding-left: 15px;
		padding-right: 15px;
	}
	.thim-about-eduma{
		padding-bottom: 30px;
		.desc{
			margin-left: 0;
		}
		.read-more{
			margin-left: 0;
		}
	}
	#toolbar .widget_search .search-form label .search-field:focus{
		max-width: 180px;
	}
}
body #sb_instagram .sbi_photo{
	position: relative;
	&:before{
		background: #fff;
		@include opacity(0);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		@include transition(all 0.3s ease-in-out);
	}
	&:hover:before{
		@include opacity(0.35);
	}

}