/*
 Theme Name:   Eduma Child
 Theme URI:    http://educationwp.thimpress.com/
 Description:  Eduma Child Theme for Landing Page
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     eduma
 Version:      1.0.0
 Text Domain:  eduma-child
*/
body footer#colophon .copyright-area .text-copyright a{
	color: #fff;
}
.thim-selling-lms .heading {
	font-size: 46px;
	color: #fff;
}

.thim-selling-lms .desc {
	font-size: 22px;
	color: #F5F5F5;
	letter-spacing: 1px;
	font-weight: 500;
	line-height: 25px;
}

.thim-selling-lms .color-green {
	color: #ffb606;
	padding-bottom: 18px;
	display: inline-block;
	position: relative;
}

.thim-selling-lms .color-green:before {
	content: '';
	position: absolute;
	background: url(images/ongv.png) no-repeat bottom 0px center;
	background-size: cover;
	bottom: 0;
	left: 50%;
	margin-left: -27px;
	width: 54px;
	height: 23px;
	transform: rotate(9deg);
}

body .thim-top-landing-demo .thim-widget-button {
	text-align: inherit;
}

body .thim-widget-button .widget-button.small {
	line-height: 38px;
}

body .landing-image .image-link {
	margin-bottom: 20px;
	height: 440px;
	box-shadow: 0px 1px 9px 1px rgba(51, 51, 51, 0.40);
	-moz-box-shadow: 0px 1px 9px 1px rgba(51, 51, 51, 0.40);
	-webkit-box-shadow: 0px 1px 9px 1px rgba(51, 51, 51, 0.40);
}

body .landing-image .image-link .image,
body .landing-image .image-link:hover .image {
	background-position: top center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body .landing-image .image-link:hover .image {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
}

body .landing-image .title {
	border-top: 1px solid rgba(153, 153, 153, 0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: #fff;
	margin: 0;
	padding: 15px;
	text-transform: none;
	font-weight: 700;
	color: #333;
}
body .landing-image .title:hover{
	color: #ffb606;
}
.thim-more-than-just .sc_heading .sub-heading {
	line-height: 24px;
	max-width: 830px;
	margin: 0 auto;
	margin-top: 45px;
}

.thim-more-than-just {
	position: relative;
	z-index: 10;
}

.thim-more-than-just:after {
	content: '';
	bottom: -16px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 12px 0 12px;
	border-color: #ffb606 transparent transparent transparent;
}

body .wrapper-box-icon.overlay .content-inner {
	padding-right: 15px;
	color: #eee;
	line-height: 24px;
	padding-bottom: 13px;
}

body .wrapper-box-icon.overlay .heading__primary {
	font-size: 18px;
	line-height: 24px;
}

body .wrapper-box-icon.overlay .icon-images img {
	margin-top: 45px;
}

body .thim-widget-icon-box .wrapper-box-icon.circle .content-inner {
	padding-left: 15px;
	padding-right: 10px;
	line-height: 24px;
}

body .thim-widget-icon-box .wrapper-box-icon.circle .heading__primary {
	margin-bottom: 0;
	margin-top: 25px;
}
body .thim-widget-icon-box .wrapper-box-icon.circle .content-inner .desc-icon-box{
	margin-top: 16px;
}
body .thim-widget-icon-box .boxes-icon.circle {
	border: 0;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 30px;
}
.thim-join-3000 {
	padding-top: 50px;
	padding-bottom: 100px;
}

.thim-join-3000 .sc_heading {
	margin-bottom: 21px;
	padding-bottom: 0;
}

.thim-testimonial-carousel-landing .item {
	padding: 0 15px;
	padding-bottom: 1px;
}

.thim-testimonial-carousel-landing .item .content {
	padding: 22px 30px 25px 95px;
	border: 1px dashed #ffb606;
	position: relative;
}

.thim-testimonial-carousel-landing .item .content:before {
	content: '\f10d';
	font-family: FontAwesome;
	width: 40px;
	height: 38px;
	font-size: 40px;
	color: #ffffff;
	-webkit-text-stroke: 2px #ffb606;
	text-stroke: 2px #ffb606;
	position: absolute;
	top: 22px;
	left: 33px;
	vertical-align: bottom;
	line-height: 38px;
}

.thim-testimonial-carousel-landing,
.thim-testimonial-carousel-landing.thim-carousel-wrapper {
	margin-top: 75px;
	margin-left: -15px;
	margin-right: -15px;
	width: auto;
	overflow: hidden;
}
.thim-testimonial-carousel-landing .meta{
	line-height: 16px;
}
.thim-testimonial-carousel-landing .item .title {
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	line-height: 16px;
	display: inline-block;
	margin: 0;
}
.thim-testimonial-carousel-landing .rating{
	display: inline-block;
	float: right;
	margin-right: 5px;
	color: #ffb606;
	letter-spacing: 4px;
	line-height: 16px;
	font-size: 14px;
}
.thim-testimonial-carousel-landing .line{
	position: relative;
	display: block;
	background: 0 0;
	border: 0;
	margin: 22px auto 15px;
	border-bottom: 1px solid #ddd;
}
.thim-testimonial-carousel-landing .line:before{
	top: 100%;
	left: 25px;
	border: solid transparent;
	height: 0;
	width: 0;
	pointer-events: none;
	content: '';
	position: absolute;
	border-color: rgba(194,225,245,0);
	border-top-color: #ddd;
	border-width: 6px;
	margin-left: -6px;
}
.thim-testimonial-carousel-landing .line:after{
	top: 100%;
	left: 25px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136,183,213,0);
	border-width: 5px;
	margin-left: -5px;
	border-top-color: #fff;
	/* background: #fff; */
}
body .owl-controls .owl-pagination{
	margin-top: 53px;
}
body .owl-controls .owl-pagination .owl-page {
	border: 1px solid #ffb606;
	margin: 0 7px;
}

.thim-testimonial-carousel-landing .item .description {
	font-style: italic;
	font-size: 16px;
	color: #666666;
	line-height: 25px;
}

.thim-trust-by {
	margin-top: 70px;
	text-align: center;
}

.thim-trust-by .heading {
	margin: 0;
	line-height: 40px;
	font-size: 30px;
}

.thim-trust-by .number {
	color: #ffb606;
	font-size: 62px;
	font-weight: 700;
	line-height: 82px;
	margin-bottom: 4px;
}

.thim-trust-by .desc {
	max-width: 830px;
	margin: auto;
}

.thim-trust-by .sub-heading {
	line-height: 40px;
	margin: 0;
	font-size: 30px;
	position: relative;
}

.thim-trust-by .sub-heading .line {
	width: 35px;
	background: #333;
	left: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
	right: 0;
	height: 1px;
}

.thim-trust-by.thim-we-are-proudly {
	margin-bottom: 13px;
}

.thim-trust-by.thim-we-are-proudly .heading {
	font-size: 24px;
	line-height: 32px;
}

.thim-trust-by.thim-we-are-proudly .number {
	margin-bottom: 6px;
	margin-top: 3px;
}

.thim-trust-by.thim-we-are-proudly .sub-heading {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.thim-fully-functional {
	text-align: center;
}

.thim-fully-functional .desc {
	max-width: 830px;
	margin: auto;
}

.thim-fully-functional .sub-heading {
	font-weight: 700;
	font-size: 24px;
	color: #333333;
	line-height: 28px;
	margin-top: 70px;
}
.thim-images-preview{
	position: relative;
	height: 539px;
	width: 950px;
	margin: auto;
	max-width: 100%;
}
.thim-images-preview img{
	position: absolute;
}
.thim-images-preview .learnpress-preview{
	bottom: 0;
	left: 0;
}
.thim-images-preview .themeforest-preview{
	bottom: 14px;
	right: 0;
	z-index: 2;
}

.thim-row-build-lp .panel-grid .panel-grid-cell {
	padding-right: 45px !important;
	padding-left: 45px !important;
}
.thim-landing-book{
	margin-bottom: -100px;
	z-index: 12;
	position: relative;
}
.thim-book-container{
	position: relative;
	overflow: hidden;
	max-width: 1450px;
	width: 100%;
	display: block;
	height: 500px;
	margin: auto;
}
.thim-book-container > div{
	position: absolute;
	bottom: 0;
	text-align: center;
}
.thim-book-container .book-image-left{
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 35%;
}
.thim-book-container .book-image-center{
	bottom: 0;
	left: 50%;
	z-index: 10;
	width: 60%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.thim-book-container .book-image-right{
	right: 0;
	bottom: 0;
	width: 35%;
}
.thim-round-images-slider ul{
	position: relative;
	overflow: hidden;
	max-height: 500px;
	margin: 0;
}

.thim-round-images-slider ul li{
	position: absolute;
	top: auto !important;
	bottom: 0 !important;
	padding: 10px;
	list-style: none;
}
.thim-round-images-slider ul li:not(.mid-item){
	cursor: pointer;
}
.thim-round-images-slider ul li.mid-item{
	z-index: 10;
}
.thim-round-images-slider ul li.mid-active{
	z-index: 11;
}
.thim-round-images-slider img{box-shadow: 0px 0px 8px 0px rgba(51,51,51,0.5);}
.thim-landing-round-images{
	margin-top: -430px !important;
}
.thim-cloud-carousel .content{
	height: 420px;
	width: 1030px;
	width: calc(100% -  140px);
	width: -webkit-calc(100% -  140px);
	width: -moz-calc(100% -  140px);
	margin: auto;
	overflow: hidden;
	max-width: 100%;
}
.thim-cloud-carousel{
	text-align: center;
	position: relative;
}
.thim-cloud-carousel .prev-text,
.thim-cloud-carousel .next-text{
	position: absolute;
	left: 0;
	top: 90px;
	height: 240px;
	width: 30px;
	background: #ffb606;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	line-height: 240px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.thim-cloud-carousel .prev-text:hover,
.thim-cloud-carousel .next-text:hover{
	background: #e6a303;
}
.thim-cloud-carousel .next-text{
	right: 0;
	left: auto;
}
.thim-cloud-carousel .content img{
	box-shadow: 0px 0px 8px 0px rgba(51,51,51,0.20);
}
.thim-cloud-carousel .alt-text{
	color: #ffb606;
	line-height: 32px;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 17px;
}
.thim-cloud-carousel .title-text{
	line-height: 25px;
	font-size: 16px;
}
.thim-top-landing-demo{
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.thim-landing-round-images {
	margin-top: -220px !important;
}
.thim-selling-lms{
	margin-top: -100px;
}
body footer#colophon .thim-social{
	margin-top: 0;
}
footer#colophon .copyright-area ul.social_link{
	height: 30px;
}
footer#colophon .copyright-area ul.social_link li{
	height: 30px;
}
footer#colophon .copyright-area ul.social_link li a{
	border: 0;
	border-radius: 0;
	font-size: 24px;
	color: #ddd;
	height: 30px;
	line-height: 30px;
}
footer#colophon .copyright-area ul.social_link li a:hover{
	text-decoration: none;
	background: none;
	color: #ffb606;
}
.thim-row-padding-bottom-35{
	padding-bottom: 35px;
}
body .thim-widget-button .widget-button.normal{
	padding: 5px 40px;
	height: 60px;
	line-height: 46px;
	border-width: 2px;
}
.menu-right .thim-widget-button .widget-button{
	border-color: #fff;
}
.menu-right .thim-widget-button .widget-button:hover{
	border-color: #333;
	color: #fff;
	background: #333;
}
header.affix .menu-right .thim-widget-button .widget-button{
	color: #333;
	background: #ffb606;
	border-color: #ffb606;
}
header.affix .menu-right .thim-widget-button .widget-button:hover{
	color: #333;
	background: #e6a303;
	border-color: #e6a303;
}
.menu-right ul li>.thim-widget-button{
	margin-top: -25px;
	margin-left: 20px;
}
.thim-bg-overlay.thim-colorib-athemes{
	overflow: hidden;
}
.thim-bg-overlay.thim-colorib-athemes:after {
	content: '';
	top: 0;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 12px 0 12px;
	border-color: #ffffff transparent transparent transparent;
}
.thim-bg-overlay.thim-colorib-athemes .single-image{
	margin-bottom: 5px;
}
.thim-bg-overlay.thim-colorib-athemes > .panel-grid-cell:last-child:before{
	content: '';
	position: absolute;
	left: 0;
	width: 1px;
	top: 5px;
	height: 90px;
	background: #fff;
}
.thim-bg-overlay.thim-colorib-athemes > .panel-grid-cell{
	color: #fff;
	padding-left: 67px !important;
	padding-right: 67px !important;
}
.thim-bg-overlay.thim-colorib-athemes .textwidget{
	position: relative;
}
.thim-bg-overlay.thim-colorib-athemes .textwidget:before{
	content: '\f10d ';
	position: absolute;
	font-size: 46px;
	font-family: FontAwesome;
	width: 46px;
	height: 46px;
	line-height: 46px;
	opacity: 0.2;
	left: 15px;
	top: -25px;
	filter: alpha(opacity=20);
}
body .thim-widget-button .widget-button.normal.no-border{
	line-height: 46px;
}
@media( min-width: 768px ) {
	body #masthead.affix.menu-hidden {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
}
@media( min-height: 900px ) {
	.thim-selling-lms {
		margin-top: -220px;
	}
	.thim-top-landing-demo{
		min-height: 900px;
	}
	.thim-landing-round-images {
		margin-top: -450px !important;
	}
}
@media( max-width: 1024px ) {
	.thim-book-container{
		max-height: 400px;
	}
	.thim-cloud-carousel .content{
		width: calc(100% -  90px);
		width: -webkit-calc(100% -  90px);
		width: -moz-calc(100% -  90px);
	}
}
@media( max-width: 768px ) {
	.thim-book-container{
		max-height: 310px;
	}
	.thim-row-padding-bottom-35.thim-row-easily{
		padding-bottom: 0;
	}
	.thim-row-padding-bottom-35.thim-row-easily > .panel-grid-cell{
		width: 100% !important;
		float: none !important;
		margin-bottom: 30px !important;
	}
	.thim-row-padding-bottom-35.thim-row-easily > .panel-grid-cell:last-child{
		margin-bottom: 0 !important;
	}
	.wrapper-box-icon.text-left.circle{
		margin-bottom: 15px;
	}
    .cloudcarousel{
	    max-width: 450px;
    }
	.thim-row-build-lp .panel-grid .panel-grid-cell{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.thim-book-container{
		height: 270px;
	}
	body .wrapper-box-icon.overlay .icon-images img{
		margin-top: 25px;
	}
	.thim-bg-overlay.thim-colorib-athemes > .panel-grid-cell:last-child{
		margin-top: 70px;
	}
	.thim-bg-overlay.thim-colorib-athemes > .panel-grid-cell:last-child:before{
		display: none;
	}
}
@media( max-width: 767px ) {
	body .wrapper-box-icon.overlay .heading__primary{
		margin-top: 20px;
	}
	.thim-landing-top-button > .panel-grid-cell{
		width: 50% !important;
		float: left !important;
	}
	.thim-row-padding-bottom-35{
		padding-bottom: 0;
	}
}
@media (max-width: 480px){
	.thim-book-container {
		height: 150px;
	}
}