/*
 Theme Name:   Eduma Child
 Theme URI:    http://educationwp.thimpress.com/
 Description:  Eduma Child Theme for Kinder Garden Demo
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     eduma
 Version:      1.1.0
 Text Domain:  eduma-child
*/
body .learn-press-tabs {
	margin-top: 20px;
}

body .sc_heading {
	margin-bottom: 10px;
}

body .sc_heading .title {
	font-weight: 400;
	text-transform: none;
}

body .sc_heading .line {
	width: 70px;
	background-color: #ddd;
}

body .thim-course-grid .course-item .thim-course-content .course-meta:before,
body .thim-course-grid .course-item .thim-course-content .course-meta:after {
	display: none;
}

body .thim-background-border {
	width: 100%;
	height: 1px;
	background: #ffbc1b;
	display: block;
	position: relative;
}

body .thim-background-border:after,
body .thim-background-border:before {
	content: '';
	height: 1px;
	left: 0;
	width: 33.33%;
	top: 0;
	position: absolute;
	z-index: 2;
	background: #9bba1f;
}

body .thim-background-border:after {
	background: #d43a3b;
	right: 0;
	left: auto;
}

body .thim-list-posts.thim-owl-carousel-post {
	margin-bottom: 65px;
}

body .thim-list-posts.thim-owl-carousel-post .content {
	text-align: left;
}

body .thim-list-posts.thim-owl-carousel-post .title {
	margin: 15px 0;
}

body .thim-list-posts.thim-owl-carousel-post .description {
	height: 100px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
	line-height: 25px;
}

body .thim-list-posts.thim-owl-carousel-post .read-more {
	display: inline-block;
	margin: 0;
}

body .thim-widget-icon-box .wrapper-box-icon.has_custom_image:not(.overlay) .desc-icon-box {
	margin-top: 0;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div {
	padding-right: 10px;
	margin-right: 10px;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div.class-size,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div.class-size {
	padding-right: 10px;
	margin-right: 10px;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div label,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div label {
	font-size: 11px;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div.year-old,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div.year-old {
	margin-right: 0;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div.course-price,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price {
	margin-right: 0;
	padding-right: 0;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value {
	font-size: 20px;
	line-height: 30px;
}

body #thim-course-archive.thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .unit-price,
body .thim-ralated-course .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .unit-price {
	margin-left: 3px;
	margin-top: 0;
}

body .thim-course-list .course-item .thim-course-content .course-meta > div.year-old {
	border-right: none;
}

body .thim-course-grid.thim-course-carousel .course-item .thim-course-content {
	border: 0;
}

body .thim-course-grid .course-item {
	text-align: left;
	background: #fff;
}

body .thim-course-grid .course-item .thim-course-content {
	padding-top: 15px;
	padding-bottom: 13px;
}

body .thim-course-grid .course-item .thim-course-content .course-title {
	margin-top: 11px;
	margin-bottom: 2px;
	height: auto;
}

body .thim-course-grid .course-item .thim-course-content .course-author {
	font-size: 13px;
}

body .thim-course-grid .course-item .thim-course-content .course-author img {
	display: none;
}

body .thim-course-grid .course-item .thim-course-content .course-author label {
	display: inline-block;
	font-weight: 400;
	margin: 0;
	margin-right: 5px;
}

body .thim-course-grid .course-item .thim-course-content .course-author .value {
	font-weight: 700;
	display: inline-block;
	margin-top: 0;
}

body .thim-course-grid .course-item .thim-course-content .thim-background-border {
	margin: 22px 0 13px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div {
	display: inline-block;
	border-right: 1px dashed #eee;
	padding-right: 20px;
	line-height: 15px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div .value {
	font-size: 14px;
	font-weight: 700;
	line-height: 15px;
	margin-bottom: 0px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
	line-height: 36px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value {
	line-height: 36px;
	font-size: 30px;
	display: inline-block;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .unit-price {
	line-height: 36px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #f24c0a;
	float: right;
	margin-left: 7px;
	margin-top: 5px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.year-old {
	margin-right: 10px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.year-old .value {
	color: #ffb606;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.class-size {
	margin-right: 20px;
}

body .thim-course-grid .course-item .thim-course-content .course-meta > div.class-size .value {
	color: #9bba1f;
}

body .thim-course-grid .course-item .thim-course-content .course-meta label {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}

body .thim-course-list .course-item .thim-course-content .course-price .value {
	color: #f24c0a;
}

body .thim-course-list .course-item .thim-course-content .course-price .unit-price {
	display: inline-block;
	color: #f24c0a;
	font-size: 14px;
	margin-left: 3px;
}

body .widget-area .thim-course-list-sidebar .course-price .value {
	display: inline-block;
	color: #f24c0a;
}

body .widget-area .thim-course-list-sidebar .course-price .unit-price {
	display: inline-block;
	margin-left: 3px;
	color: #f24c0a;
}

body .thim-image-border .item img {
	border: 1px solid #eee;
}

body .wrapper-lists-our-team .our-team-item {
	text-align: left;
	margin-bottom: 30px;
}

body .wrapper-lists-our-team .our-team-item .item {
	border: 1px solid #eee;
}

body .wrapper-lists-our-team .our-team-item .our-team-image:before {
	display: none;
}

body .wrapper-lists-our-team .our-team-item .our-team-image img {
	border-radius: 0;
	width: 100%;
}

body .wrapper-lists-our-team .our-team-item .content-team {
	padding: 13px 20px 22px;
}

body .wrapper-lists-our-team .our-team-item .title {
	margin-top: 0;
}

body .wrapper-lists-our-team .our-team-item .regency {
	text-transform: none;
	font-size: 15px;
	font-weight: 400;
}

body .wrapper-lists-our-team .our-team-item .social-team {
	float: right;
	margin-top: -40px;
	font-size: 16px;
}

body .wrapper-lists-our-team .our-team-item .social-team a {
	margin-right: 10px;
	display: inline-block;
}

body .wrapper-lists-our-team .our-team-item .social-team a:hover {
	transform: translate(0, -5px);
	-webkit-transform: translate(0, -5px);
	-moz-transform: translate(0, -5px);
	-ms-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
}

body .wrapper-lists-our-team .our-team-item .social-team a:last-child {
	margin-right: 0;
}

body .wrapper-lists-our-team .our-team-item .social-team a.facebook {
	color: #3b5998;
}

body .wrapper-lists-our-team .our-team-item .social-team a.twitter {
	color: #55acee;
}

body .wrapper-lists-our-team .our-team-item .social-team a.skype {
	color: #00AFF0;
}

body .wrapper-lists-our-team .our-team-item .social-team a.dribbble {
	color: #ea4c89;
}

body .wrapper-lists-our-team .our-team-item .social-team a.linkedin {
	color: #007bb5;
}

body .wrapper-lists-our-team .our-team-item .thim-background-border {
	margin: 15px 0 25px;
}

body .wrapper-lists-our-team .our-team-item .description {
	color: #999;
	line-height: 25px;
	height: 75px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
}

body .thim-bg-overlay-color .thim-course-carousel .owl-controls .owl-prev:hover,
body .thim-bg-overlay-color .thim-course-carousel .owl-controls .owl-next:hover {
	border-color: #fff;
}

body .thim-bg-overlay-color .thim-course-carousel .owl-controls .owl-prev:hover .fa,
body .thim-bg-overlay-color .thim-course-carousel .owl-controls .owl-next:hover .fa {
	color: #fff;
}

body .thim-widget-icon-box .wrapper-box-icon.has_custom_image:not(.overlay) .desc-icon-box {
	padding-left: 10px;
}

body .thim-bg-overlay {
	background-position: center center;
	background-size: cover;
}

body .learn-press .course-payment .course-price {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
	line-height: 40px;
}

body .learn-press .course-payment .course-price .value {
	line-height: 40px;
	font-size: 30px;
	display: inline-block;
	color: #f24c0a;
}

body .learn-press .course-payment .course-price .unit-price {
	line-height: 30px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #f24c0a;
	float: right;
	margin-left: 7px;
	margin-right: 20px;
	margin-top: 10px;
}

body .thim-language .lang-item.active,
body #toolbar .widget_login-popup .thim-link-login a:first-child:not(:last-child),
body #toolbar .widget_login-menu .thim-link-login a:first-child:not(:last-child) {
	border-right-color: #e4a50d;
}

body #toolbar .list-lang a {
	color: #666;
}

body .thim-language ul {
	background: #fff;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
}

body .thim-course-megamenu .course-price .value {
	display: inline-block;
}

body .thim-course-megamenu .course-price .unit-price {
	display: inline-block;
	color: #f24c0a;
	font-size: 13px;
	font-weight: 700;
}

body #contact-form-registration .wpcf7-form div.wpcf7-validation-errors,
body #contact-form-registration .wpcf7-form div.wpcf7-mail-sent-ok {
	margin-top: 20px;
}

body #contact-form-registration .wpcf7-form .ajax-loader {
	left: 51px;
}

.thim-testimonial-carousel-kindergarten {
	padding-bottom: 100px;
}

.thim-testimonial-carousel-kindergarten .owl-item {
	padding: 0 15px;
}

.thim-testimonial-carousel-kindergarten .owl-item:nth-child(3n+2) .item .image img {
	border: 1px solid #ffb606;
}

.thim-testimonial-carousel-kindergarten .owl-item:nth-child(3n+0) .item .image img {
	border: 1px solid #cf4240;
}

.thim-testimonial-carousel-kindergarten .item {
	padding: 30px;
	background: #fff;
}

.thim-testimonial-carousel-kindergarten .item .image {
	width: 62px;
	float: left;
	margin-bottom: 25px;
}

.thim-testimonial-carousel-kindergarten .item .image img {
	border-radius: 50%;
	border: 1px solid #9fbd2c;
}

.thim-testimonial-carousel-kindergarten .item .meta {
	float: right;
	width: calc(100% - 82px);
	width: -webkit-calc(100% - 82px);
	width: -moz-calc(100% - 82px);
}

.thim-testimonial-carousel-kindergarten .item .meta .title {
	font-weight: 700;
	font-size: 15px;
	margin: 9px 0 0;
}

.thim-testimonial-carousel-kindergarten .item .meta .regency {
	font-style: italic;
	font-weight: 400;
	font-size: 13px;
	color: #999;
}

.thim-testimonial-carousel-kindergarten .item .description {
	clear: both;
	color: #999;
}

.thim-testimonial-carousel-kindergarten .owl-controls .owl-pagination {
	margin-top: 54px;
}

.thim-testimonial-carousel-kindergarten .owl-controls .owl-pagination .owl-page {
	margin: 0 5px;
	width: 10px;
	height: 10px;
	border: none;
	background: #fff;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}

.thim-testimonial-carousel-kindergarten .owl-controls .owl-pagination .owl-page:hover,
.thim-testimonial-carousel-kindergarten .owl-controls .owl-pagination .owl-page.active {
	background: #fff;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
}

.thim-becom-teacher-kindergarten .sc_heading {
	padding-bottom: 0;
	margin-bottom: 0;
}

.thim-becom-teacher-kindergarten .sc_heading .title {
	font-size: 48px;
	margin-bottom: 10px;
}

.thim-becom-teacher-kindergarten .sc_heading .sub-heading {
	font-size: 18px;
	line-height: 25px;
}

.thim-our-gallery-kindergarten {
	width: 292px;
	margin: auto;
	text-align: center;
	border: 10px solid #fff;
	height: 292px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thim-our-gallery-kindergarten .title {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-top: 0;
	font-weight: 400;
}

.thim-our-gallery-kindergarten .title span {
	display: inline-block;
}

.thim-our-gallery-kindergarten .view-button {
	background: #fff;
	color: #333;
	text-transform: uppercase;
	line-height: 35px;
	padding: 0 20px;
	border: none;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
}

#contact-form-registration {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999999;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	visibility: hidden;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
	margin: 0;
	width: 100%;
	height: 100vh;
	-webkit-transform: scale(0.2, 0.2);
	-ms-transform: scale(0.2, 0.2);
	-o-transform: scale(0.2, 0.2);
	transform: scale(0.2, 0.2);
	-webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
	-moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
	-o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
	-ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
	transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
	overflow: auto;
}

#contact-form-registration.active {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
	visibility: visible;
}

body.thim-contact-popup-active #contact-form-registration {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}

#contact-form-registration > .wpcf7 {
	max-width: 500px;
	overflow: hidden;
	padding: 30px 50px;
	background: #fff;
	margin: auto;
	position: relative;
	top: 0;
	cursor: default;
}

#contact-form-registration > .wpcf7 form .title {
	font-size: 20px;
	margin-bottom: 15px;
}

#contact-form-registration > .wpcf7 form > p {
	margin-bottom: 0;
}

#contact-form-registration > .wpcf7 form > p > span {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	float: left;
}

#contact-form-registration > .wpcf7 .thim-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	color: #fff;
	background: #e6a303;
	line-height: 30px;
	text-align: center;
	display: none;
}

#contact-form-registration > .wpcf7 .thim-close:hover {
	opacity: 0.8;
	filter: alpha(opacity=90);
}

body.single-lp_course .site-header {
	z-index: 2;
}

body.thim-contact-popup-active #tp_style_selector {
	visibility: hidden;
	z-index: 1;
}

body.thim-contact-popup-active .site-header {
	z-index: 1;
}

body.thim-contact-popup-active #wpadminbar {
	z-index: -1;
}

@media (max-width: 1024px) {
	body .thim-course-grid .course-item .thim-course-content .course-meta > div.class-size,
	body .thim-course-grid .course-item .thim-course-content .course-meta > div.year-old {
		padding-right: 10px;
		margin-right: 10px;
	}

	body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value {
		font-size: 25px;
	}

	#contact-form-registration > .wpcf7 .thim-close {
		display: inline-block;
	}
}

@media (max-width: 992px) {
	.thim-welcome-to-eduma-school .content-inner {
		width: 100% !important;
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	body .wrapper-lists-our-team .our-team-item.col-sm-3 {
		width: 50%;
	}

	.thim-owl-carousel-post.thim-list-posts .item-post {
		width: 50%;
		display: none;
	}

	.thim-owl-carousel-post.thim-list-posts .item-post:first-child,
	.thim-owl-carousel-post.thim-list-posts .item-post:nth-child(2) {
		display: inline-block;
		float: left;
	}

	body .thim-image-border .item {
		padding: 0 10px;
	}
}

@media (max-width: 600px) {
	.thim-have-any-question {
		display: none;
	}

	body .thim-course-grid .course-item .thim-course-content .course-meta label {
		font-size: 10px;
	}

	body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .value {
		font-size: 18px;
	}

	body .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price .unit-price {
		font-size: 12px;
		margin-left: 2px;
		margin-top: 2px;
	}
}

@media (max-width: 480px) {
	body .wrapper-lists-our-team .our-team-item.col-sm-3 {
		width: 100%;
	}

	body .thim-owl-carousel-post.thim-list-posts .item-post {
		width: 100%;
		margin-bottom: 30px;
		display: block;
	}

	body .thim-owl-carousel-post.thim-list-posts .item-post:last-child {
		margin-bottom: 0;
	}

	body .thim-course-carousel,
	body .thim-owl-carousel-post {
		padding-top: 40px;
	}

	body .thim-course-carousel .owl-controls,
	body .thim-owl-carousel-post .owl-controls {
		top: -20px;
	}

	.thim-bg-border-top .thim-widget-icon-box .wrapper-box-icon .content-inner {
		padding: 130px 30px 30px 40px;
	}
}

.thim-other-member.wrapper-lists-our-team .thim-carousel-wrapper {
	margin: 0 -15px;
}

.thim-other-member.wrapper-lists-our-team .thim-carousel-wrapper .our-team-item {
	padding: 0 15px;
}

body .thim-course-list .thim-background-border {
	display: none;
}

body.thim-contact-popup-active {
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

body.thim-contact-popup-active #wrapper-container {
	height: 100vh;
	overflow: hidden;
}

/** Kindergarten RTL **/
body.rtl .thim-course-grid .course-item .thim-course-content .course-title {
	text-align: right;
}

body.rtl .thim-course-grid .course-item .thim-course-content .course-author {
	text-align: right;
}

body.rtl .thim-course-grid .course-item .thim-course-content .course-meta > div {
	border-right: 0;
	border-left: 1px dashed #eee;
	padding-left: 20px;
	padding-right: 0;
}

body.rtl .thim-course-grid .course-item .thim-course-content .course-meta > div.course-price {
	padding-left: 0;
	border-left: 0;
}

body.rtl .wrapper-lists-our-team .our-team-item .social-team {
	float: left;
}

body.rtl .wrapper-lists-our-team .our-team-item .content-team {
	text-align: right;
}

body.rtl .thim-list-posts.thim-owl-carousel-post .content {
	text-align: right;
}
